<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About - FYXR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="assets/css/about.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a  class="logo" href="/">
					<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64442823_445122592714712_31551216303472640_n.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=IRIZOKfiT58AX84vmf2&_nc_ht=scontent-den4-1.xx&oh=773475984593df23d3dfca9a6bb863e5&oe=5F4C44DC">
					</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Welcome</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="content" id="aboutContent">
						<header>
							<h2>About</h2>
						</header>
						<img id="aboutPhoto" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/108437925_10158641574461944_3750152332010682982_o.jpg?_nc_cat=101&_nc_sid=a4a2d7&_nc_ohc=oLZuYGNICMcAX9RNwRt&_nc_ht=scontent-den4-1.xx&oh=b62606b8624653cf6cca9b7341ce557d&oe=5F4F7CC7">
						<p>My name is Maurice I have been in this industry for most of my life. I have always had a love for building, fixing and creating things.  I have always wanted to know how things work, and how to make things work better!  I have worked construction for close to 15 years now it's been the past year that I have started to work for myself. 
						</p>
							<p>I pride myself by putting my passion and high standard into each and every job. It is very important to me to continue to be honest, hardworking and to be able to go above and beyond.  I do what it takes to get the job done and to do it right! </p>
					</div>
				</div>
			</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Pricing</h3>
					<p>Anything you need built, fixed, or replaced I’ve got you covered! I have great customer service, attention to detail, and honest service. I work quickly and effectively with my vast knowledge of the industry, to get the most  done for you with my time. </p>
					<p>My hourly rate is $60.00 per hour. I do charge a 2 hour minimum for my time. It's best to communicate about your project to gain a full understanding of the desired outcome.  I can therefore provide a full estimate with time and charge.

						I prefer to have my customers to purchase material for the jobs as this saves them a mark up fee.
						
						I don’t charge a travel fee in my local area. However if you are outside of my travel area an hour plus away, feel free to reach out to me and we could negotiate a travel fee. 
						
						If it is necessary to cancel your scheduled appointment, I require that you call one working day in advance. Otherwise you agree to pay a $120.00 cancellation fee per day.</p>
				</section>
				
				<section>
					<h4>Social Media</h4>
					<ul class="plain">
						<li><a href="https://www.facebook.com/fyxrmauricem/" target="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; FYXR.
			</div>
		</div>
	</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>