<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic Page - Industrious by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="assets/css/gallery.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a  class="logo" href="/">
					<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64442823_445122592714712_31551216303472640_n.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=IRIZOKfiT58AX84vmf2&_nc_ht=scontent-den4-1.xx&oh=773475984593df23d3dfca9a6bb863e5&oe=5F4C44DC">
					</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Heading -->
			<div id="heading" >
				<h1>Gallery</h1>
			</div>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<!-- Grid row -->
<div class="row">

	<!-- Grid column -->
	<div class="col-md-12 d-flex justify-content-center mb-5">
  
	  <button type="button" class="send-button filter" data-rel="all">All</button>
	  <button type="button" class="send-button filter" data-rel="1">Outdoor</button>
	  <button type="button" class="send-button filter" data-rel="2">Commmercial</button>
	  <button type="button" class="send-button filter" data-rel="3">Indoor</button>
  
	</div>
	<!-- Grid column -->
  
  </div>
  <!-- Grid row -->
  
  <!-- Grid row -->
  <div class="gallery" id="gallery">
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 2">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/62488950_445959175964387_1189373510523289600_n.jpg?_nc_cat=110&_nc_sid=8bfeb9&_nc_ohc=2ideeBDnorcAX_9hZNK&_nc_ht=scontent-den4-1.xx&oh=718e5ba5d0593face15ea6cfe4916ec0&oe=5F4F06C4" alt="Card image cap">
	</div>

	<div class="mb-3 pics animation all 2">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64530404_445215642705407_8410592107932155904_n.jpg?_nc_cat=104&_nc_sid=0debeb&_nc_ohc=FTK-LuOak-IAX_32RkA&_nc_ht=scontent-den4-1.xx&oh=0ce4d0dc9416492a69fba85f19006bcb&oe=5F50363F" alt="Card image cap">
	  </div>

	 

	  <div class="mb-3 pics animation all 2">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64213946_445960902630881_1935452000338575360_n.jpg?_nc_cat=101&_nc_sid=8bfeb9&_nc_ohc=HcMw2uy-AqUAX-nuk8n&_nc_ht=scontent-den4-1.xx&oh=b4bf5f5fff55d17eb9cf5b735631354a&oe=5F4F0B68" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 2">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/62988705_445960439297594_2961207739583299584_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=kx6neh9F7I4AX94kMKz&_nc_ht=scontent-den4-1.xx&oh=cba8de06858ae7e1a9db7bb437e9b331&oe=5F512FF5" alt="Card image cap">
	  </div>

	  
	<!-- Grid column -->
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 1">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/106160310_685150272045275_3711957256198439924_n.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=P0z2R6Da4poAX-sMEZg&_nc_ht=scontent-den4-1.xx&oh=114aa74170f1981b6ab627d8966cf183&oe=5F4DB158" alt="Card image cap">
	</div>

	<div class="mb-3 pics animation all 1">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/62654685_445213066038998_3883167429387354112_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=vODCtwB8_QAAX-5pVX6&_nc_ht=scontent-den4-1.xx&oh=a272a25eb00170c9839c077dadba5698&oe=5F5099F5" alt="Card image cap">
	  </div>
	<!-- Grid column -->
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 1">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/109560386_699770040583298_7433434883219853147_o.jpg?_nc_cat=106&_nc_sid=8bfeb9&_nc_ohc=0T4L5fh8JLYAX_VXEHc&_nc_ht=scontent-den4-1.xx&oh=e078a5788c1b59ab4e123a3d12123ddb&oe=5F50AB67" alt="Card image cap">
	</div>
	<!-- Grid column -->
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 2">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/65901950_458024424757862_1536793131628888064_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=h4ufvWjLWsYAX-QbGCc&_nc_ht=scontent-den4-1.xx&oh=3cce1b46e18daef2e4ba873b0843e0a4&oe=5F50BA9A" alt="Card image cap">
	</div>
	<!-- Grid column -->
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 2">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/62643470_445212349372403_5895908856571101184_n.jpg?_nc_cat=100&_nc_sid=0debeb&_nc_ohc=58AmncaIGPIAX9ZWGA3&_nc_ht=scontent-den4-1.xx&oh=3a713edfad0e2ab7e3d53f7bb4c30956&oe=5F4EDA8E" alt="Card image cap">
	</div>

	<div class="mb-3 pics animation all 2">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64493896_448452882381683_1332642920754315264_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=f6A6EE6gUzUAX9vvpY_&_nc_ht=scontent-den4-1.xx&oh=cffacb84ec78a0856b1ee376ecd736fc&oe=5F4F14D0" alt="Card image cap">
	  </div>

	<div class="mb-3 pics animation all 1">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/102579652_675403003020002_3004265351021713870_n.jpg?_nc_cat=104&_nc_sid=8bfeb9&_nc_ohc=1twBvzN5DHYAX9nR4Pp&_nc_oc=AQmvLMwkWrxl7il0xi8LIqZLVxe9N2X53HQIYXimPv2z2RPSLqvQRBJINKK10AmuOzxQ79AmFjhMSPj49RKO9r2b&_nc_ht=scontent-den4-1.xx&oh=ebd1bf9c8dcba40d37b936583d2dffa7&oe=5F4E34D2" alt="Card image cap">
	  </div>
	<!-- Grid column -->
  
	<!-- Grid column -->
	<div class="mb-3 pics animation all 1">
	  <img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64216295_445211026039202_1917380487353991168_n.jpg?_nc_cat=106&_nc_sid=0debeb&_nc_ohc=WzwJkbnog1gAX_M1Nru&_nc_ht=scontent-den4-1.xx&oh=0ad56c9d23636708ae8dbf4d222146c6&oe=5F4F3ED6" alt="Card image cap">
	</div>
	<!-- Grid column -->
  
	<div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/95964363_655360065024296_3257342212769316864_n.jpg?_nc_cat=103&_nc_sid=8bfeb9&_nc_ohc=_Ar8pWJSkH0AX9oFTD4&_nc_oc=AQmzdfkPk0EqfzVlZCPi0MpqkqaVX1KrrwbXv5BgWCq005B8sMzBnMVqnTgjczALHSfgUXXNvauHQvgJQqTPjxV7&_nc_ht=scontent-den4-1.xx&oh=085fb8d34164f43ef104e1d2f799b922&oe=5F505066" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64727795_448473865712918_2583582442413621248_n.jpg?_nc_cat=102&_nc_sid=0debeb&_nc_ohc=kTJbDzVmO0sAX8yh6ia&_nc_ht=scontent-den4-1.xx&oh=7b4ac8df6062379c1b5877547e44d6c4&oe=5F4EC75A" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64301366_445211872705784_2878210584669585408_n.jpg?_nc_cat=108&_nc_sid=0debeb&_nc_ohc=wejyzVJb7g8AX81GKvj&_nc_ht=scontent-den4-1.xx&oh=79775416502dd3af56c48d4cee714222&oe=5F4DA863" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/62601017_445958532631118_8995359434360225792_n.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=znRUL4EclEoAX8Ai4iP&_nc_ht=scontent-den4-1.xx&oh=c0cd1d175a6166278827afa10346dc65&oe=5F4DCB87" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/87863612_609569559603347_3911938732403458048_n.jpg?_nc_cat=111&_nc_sid=8bfeb9&_nc_ohc=8ltX-etWyDwAX9dJpLC&_nc_ht=scontent-den4-1.xx&oh=639eaa8dcd06472ea0cf6c4fa0bb5ae8&oe=5F4F5B96" alt="Card image cap">
	  </div>

	

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64354535_445210286039276_5027862933456027648_n.jpg?_nc_cat=103&_nc_sid=0debeb&_nc_ohc=z5H_y-7iNuEAX8AKhdS&_nc_ht=scontent-den4-1.xx&oh=e97f31338931ee1c29225c994cb887fb&oe=5F50FEC4" alt="Card image cap">
	  </div>

	  
	  <div class="mb-3 pics animation all 2">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64332993_445212279372410_3260985676476186624_n.jpg?_nc_cat=103&_nc_sid=0debeb&_nc_ohc=83aUHiSW-tsAX8yygCz&_nc_ht=scontent-den4-1.xx&oh=8a218c909027b4b325237873955a0c3e&oe=5F4E71F6" alt="Card image cap">
	  </div>
	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64653308_448468779046760_3935805019558772736_n.jpg?_nc_cat=101&_nc_sid=8bfeb9&_nc_ohc=810RANr2ZZwAX8VoGHG&_nc_ht=scontent-den4-1.xx&oh=e6436626d7376433f9af8bd677ccad0c&oe=5F4FE174" alt="Card image cap">
	  </div>

	  <div class="mb-3 pics animation all 3">
		<img class="img-fluid" src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/95136920_653170018576634_7696257940444938240_n.jpg?_nc_cat=100&_nc_sid=8bfeb9&_nc_ohc=hZzxz93Om6UAX-Os3VJ&_nc_ht=scontent-den4-1.xx&oh=13e42f53589c21b73a4d59c0b634d892&oe=5F4EA320" alt="Card image cap">
	  </div>
  </div>
  
				</div>
			</section>

	<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="content">
				<section>
					<h3>Pricing</h3>
					<p>Anything you need built, fixed, or replaced I’ve got you covered! I have great customer service, attention to detail, and honest service. I work quickly and effectively with my vast knowledge of the industry, to get the most  done for you with my time. </p>
					<p>My hourly rate is $60.00 per hour. I do charge a 2 hour minimum for my time. It's best to communicate about your project to gain a full understanding of the desired outcome.  I can therefore provide a full estimate with time and charge.

						I prefer to have my customers to purchase material for the jobs as this saves them a mark up fee.
						
						I don’t charge a travel fee in my local area. However if you are outside of my travel area an hour plus away, feel free to reach out to me and we could negotiate a travel fee. 
						
						If it is necessary to cancel your scheduled appointment, I require that you call one working day in advance. Otherwise you agree to pay a $120.00 cancellation fee per day.</p>
				</section>
				
				<section>
					<h4>Social Media</h4>
					<ul class="plain">
						<li><a href="https://www.facebook.com/fyxrmauricem/" target="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
					</ul>
				</section>
			</div>
			<div class="copyright">
				&copy; FYXR.
			</div>
		</div>
	</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>