<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>FYXR</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
        <meta name="keywords" content="" />
       <base href="/">
        <link rel="stylesheet" href="/assets/css/main.css"/>
       
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<a  class="logo" href="/">
				<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/64442823_445122592714712_31551216303472640_n.jpg?_nc_cat=107&_nc_sid=174925&_nc_ohc=IRIZOKfiT58AX84vmf2&_nc_ht=scontent-den4-1.xx&oh=773475984593df23d3dfca9a6bb863e5&oe=5F4C44DC">
				</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="/contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>FYXR</h1>
					<p>Let me be your only handyman!</p>
				</div>
				<!-- <video autoplay loop muted playsinline src="images/banner.mp4"></video> -->
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>I have a vast knowledge in</h2>
					
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-picture-o"><span class="label">Icon</span></a>
									<h3>Framing</h3>
								</header>
								<p>Framing, new construction, basement, garage, shed's deck.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paint-brush"><span class="label">Icon</span></a>
									<h3>Finish work / custom carpentry</h3>
								</header>
								<p>I can handle from decks to cabinets, flooring etc.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-home"><span class="label">Icon</span></a>
									<h3>Drywall</h3>
								</header>
								<p>New construction, mud tape and texture, repair damaged drywall, match existing texture.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-shower"><span class="label">Icon</span></a>
									<h3>Plumbing</h3>
								</header>
								<p>Anything simple from drain clean out, faucet hookups, sink install to something complex like re-pipe, drain repair.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-plug"><span class="label">Icon</span></a>
									<h3>Electrical work</h3>
								</header>
								<p>Lighting/fan install, additional outlet installation, finding and preventing potential fires.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-wrench"><span class="label">Icon</span></a>
									<h3>Repairs</h3>
								</header>
								<p>Anything you need repaired, FYXR has you covered.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2 id="trainingTitle">Training</h2>
                    <div class="row">
                        <div class="col">
                    <ul>
<li>I have extensive training and worked as a framer on many homes all over the Wasatch front.</li>
<li>I  loved my time spent as a Finish custom / carpenter where I learned my attention to detail and true quality of workmanship.</li>
<li>I have experience in the laboring work of  drywall, hanging, taping, and muddling.</li>
<li>I have spent a lot of time remodeling restaurants where I had to work with a large scope of projects.</li>
                    </ul>
</div>
<div class="col">
<ul>
<li>I was able to figure out solutions to the impossible.</li>
<li>I have a vast knowledge in plumbing both new construction, and repair.</li>
<li>I have substantial training in the electrical field for both commercial and residential.</li>
<li>I enjoined my time as a professional welder in a fabrication / repair shop.</li>
                    </ul>
                </div>
                </div>
				</div>
			</section>

		<!-- Testimonials -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>Reviews</h2>
						<p>I charge what I am worth. I will make my time worth your money.</p>
					</header>
					<div class="testimonials">
						<section>
							<div class="content">
								<blockquote>
									<p>Hired Maurice to fix our vinyl fence, he responded quickly, stayed in communication and did a great and quick repair job. I’ll definitely consider him again in the future.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/71678583_10217303056981951_399159451443003392_n.jpg?_nc_cat=100&_nc_sid=174925&_nc_ohc=czll_f8w_AgAX9Kd1Lq&_nc_ht=scontent-den4-1.xx&oh=3e82e1992a48a47a2c7d56a3047f1a1d&oe=5F4A0588" alt="" />
									</div>
									<p class="credit">- <strong>David</strong> <span>Client.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>Maurice and Matt refinished our deck this last week. It looks great! Thanks guys!</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/65864120_2527356163942778_5132371062704570368_n.jpg?_nc_cat=104&_nc_sid=09cbfe&_nc_ohc=3sJ_P6rYDlwAX-BBANQ&_nc_ht=scontent-den4-1.xx&oh=3c3f378daa01d901754b492ac3c1e1a6&oe=5F4BE1A9" alt="" />
									</div>
									<p class="credit">- <strong>Anne-Marie</strong> <span>Client.</span></p>
								</div>
							</div>
						</section>
						<section>
							<div class="content">
								<blockquote>
									<p>He takes his time to make his work look as good as possible. He takes pride in his work and always wants to make it something he is proud of. He has great customer service skills.</p>
								</blockquote>
								<div class="author">
									<div class="image">
										<img src="https://scontent-den4-1.xx.fbcdn.net/v/t1.0-9/112548190_10158692463061944_7238423268522613528_o.jpg?_nc_cat=106&_nc_sid=09cbfe&_nc_ohc=j0BSbD-7U5IAX8zwgqm&_nc_ht=scontent-den4-1.xx&oh=012779ec74a48a1b7d3494f4c4963440&oe=5F4AA6BE" alt="" />
									</div>
									<p class="credit">- <strong>Symony</strong> <span>Client.</span></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>Pricing</h3>
							<p>Anything you need built, fixed, or replaced I’ve got you covered! I have great customer service, attention to detail, and honest service. I work quickly and effectively with my vast knowledge of the industry, to get the most  done for you with my time. My hourly rate is $60.00 per hour. I do charge a 2 hour minimum for my time. It's best to communicate about your project to gain a full understanding of the desired outcome.  I can therefore provide a full estimate with time and charge.

                                I prefer to have my customers to purchase material for the jobs as this saves them a mark up fee.
                                
                                I don’t charge a travel fee in my local area. However if you are outside of my travel area an hour plus away, feel free to reach out to me and we could negotiate a travel fee. 
                                
                                If it is necessary to cancel your scheduled appointment, I require that you call one working day in advance. Otherwise you agree to pay a $120.00 cancellation fee per day.</p>
						</section>
						
						<section>
							<h4>Social Media</h4>
							<ul class="plain">
								<li><a href="https://www.facebook.com/fyxrmauricem/" target="_blank"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">
						&copy; FYXR.
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>